Repository ByteNess/aws-vault, pull requests merged in 2025-09, with the labels that each got.

#126 chore: Enable linux-ppc64le build
  Makefile
Labels: chore

#128 chore: Test new conventional commit action
  .github/workflows/pr.yaml
Labels: pipelines

#136 chore: Fix GHA PR checks perms
  .github/labeler.yaml
  .github/workflows/pr.yaml
Labels: bug, pipelines

#134 feat: add 1Password & 1Password Connect backends
  README.md
  USAGE.md
  cli/global.go
  go.mod
  go.sum
Labels: documentation, dependencies
